*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    font-family: monospace;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 1;
}

.overtext {
    position: absolute;
    z-index: 2;
    user-select: none;

    padding: 2px 6px;
    border-radius: 6px;
    background-color: black;
    
    font-size: 16px;
}

#heading {
    left: 10px;
    top: 10px;
    color: white;
}

#togglecontrols
{
    left: 10px;
    bottom: 10px;
    color: #ccc;
}

.controls
{
    color: #ccc;
    display: none;
}

#logPosition
{
    right: 10px;
    top: 10px;
}

#logRotation
{
    right: 10px;
    top: 100px;
}

#logScale
{
    right: 10px;
    top: 190px;
}

#foot
{
    right: 10px;
    bottom: 10px;
}

.bold
{
    color: white;
    font-weight: 600;
}